.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

/* ------------- IMG ------------- */
.hero img{
    margin-top: 150px;
}

/* ------------- HEADER H1 ------------- */
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight:600;
}
.hero h1 span{
    background: linear-gradient(270deg, #1044d4 10%, #e6dc50 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ------------- <p> STYLING ------------- */
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

/* ------------- BUTTONS ------------- */
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(270deg, #e0a448 10%, #e2671f 100%);
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}

.hero-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-resume:hover{
    border-color: #1044d4;
}

/* ------------------------ RESPONSIVENESS ------------------------ */
/* ------------------------ to Max 768px ------------------------ */
@media (max-width: 768px){
    .hero img{
        margin-bottom: 120px;
        width: 70%;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}