.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

/* ------------- ABOUT TITLE ------------- */
.about-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-title h1 {
    padding: 0px 30px;
    font-size: 80px;
    font-weight: 600;
    text-align: center;
}
.about-title img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

/* ------------- ABOUT SECTIONS ------------- */
.about-sections{
    display: flex;
    gap: 80px;
}

/* ------------- ABOUT RIGHT ------------- */
.about-right{
   display: flex;
   flex-direction: column;
   gap: 60px; 
}

/* ------------- ABOUT PARAGRAPH ------------- */
.about-para{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
}

/* ------------- ABOUT SKILLS ------------- */
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-skill{
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}
.about-skill p{
    min-width: 150px;
    font-size: 16px;
    font-weight: 500;
}
.about-skill hr{
    outline: none;
    border: none;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #ff1e1e -5.09%, #663a3a 106.28%)
}
.about-skill:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

/* ------------- Skills - easier to change percentage here for all responsive screen sizes at once, neat huh? :) ------------- */
.hr-java { width: 90%; }
.hr-aws { width: 80%; }
.hr-csharp { width: 60%; }
.hr-python { width: 40%; }
.hr-cpp { width: 20%; }
.hr-angular-react { width: 80%; }
.hr-htmlcss { width: 70%; }

/* ------------- ABOUT ACHIEVEMENTS ------------- */
.about-achievements{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievement{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievement h1{
    color: white;
}
.about-achievement h5{
    text-align: center;
}
.about-achievement p{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}
.about-achievement:hover{
    transform: scale(1.12);
    transition: 0.5s;
}

/* ------------------------ RESPONSIVENESS ------------------------ */
/* ------------------------ to Max 768px ------------------------ */
@media(max-width: 768px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: center;
    }

    .about-title {
        align-items: center;
        justify-content: center;
    }
    .about-title h1 {
        font-size: 50px;
        padding: 0;
        text-align: center;
    }
    .about-title img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .about-sections{
        flex-direction: column;
    }

    .about-left{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .about-left img{
        display: flex;
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .about-para{
        font-size: 18px;
        line-height: 32px;
    }

    .about-skill {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .about-skill p {
        font-size: 14px;
        text-align: left;
        width: 100%;
    }
    .about-skill hr {
        height: 6px;
    }

    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 30px;
        font-weight: 700;
    }
    .about-achievement p{
        text-align: center;
        font-size: 12px;
    }
}

/* ------------------------ between 769 and 1400px ------------------------ */
@media(min-width:769px) and (max-width: 1400px){
    .about{
        gap: 80px;
        margin: 50px 70px;
        align-items: center;
    }

    .about-title {
        align-items: center;
        justify-content: center;
    }
    .about-title h1 {
        font-size: 70px;
        padding: 0;
        text-align: center;
    }
    .about-title img {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .about-sections {
        flex-direction: column;
    }

    .about-left{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .about-left img{
        display: flex;
        width: 100%;
        height: auto;
        max-width: 300px;
    }

    .about-para{
        font-size: 19px;
        line-height: 32px;
    }

    .about-skill {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .about-skill p {
        font-size: 16px;
        text-align: left;
        width: 100%;
    }
    .about-skill hr {
        height: 7px;
    }

    .about-achievements{
        justify-content: space-between;
    }
    .about-achievement{
        gap: 10px;
    }
    .about-achievement h1{
        font-size: 50px;
        font-weight: 700;
    }
    .about-achievement p{
        text-align: center;
        font-size: 16px;
    }
}