.subpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 60px;
  padding: 20px;
  position: relative;
}

/* ------------------ BACK ICON ------------------ */
.back-icon {
  position: absolute;
  top: -20px;
  right: 0px;
  padding: 10px;
  cursor: pointer;
}

/* ------------------ CONTENT GRID ------------------ */
.content-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr; /* Default to a single column */
  gap: 20px;
}
.content-grid span{
  color: #526cff;
}

/* ------------------ LINK STYLES ------------------ */
a {
  color: #7886ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* ------------------ IMAGE STYLES ------------------ */
.content-grid img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

/* ------------------ DOTTED LIST STYLES ------------------ */
.dotted-list {
  list-style-type: none;
  padding-left: 20px;
}
.dotted-list li {
  position: relative;
  padding-left: 20px; 
  margin-bottom: 10px; 
  font-size: 1.1em; 
  color: #fbff0075; 
}
.dotted-list li::before {
  content: '•';
  position: absolute;
  left: 0;
  color: #64688b; 
  font-size: 1.5em; 
  line-height: 1; 
}
.dotted-list li:hover {
  color: #e7e5e5;
}

.tech{
  color: #fbff00d3; 
}

/* ------------------ RESPONSIVENESS ------------------ */

@media (min-width: 769px) {
  .subpage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 60px;
    padding: 20px;
    position: relative;
  }
  
  .content-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .content-grid hr{
    width: 60%;
  }
  
  .content-grid img {
    width: auto; 
    max-width: 100%;
  }

  .dotted-list {
    display: block;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}