.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 20px 50px;
}

/* ------------------------ LOGO ------------------------ */
.nav-logo {
    height: 50px;   
    margin-right: 20px;
}

/* ------------------------ MENU ------------------------ */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.nav-menu li img{
  display: flex;
  margin: auto;
}
  
/* ------------------------ CONNECT ------------------------ */
.nav-connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(270deg, #e0a448 10%, #e2671f 100%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;           /* == This property makes the transition smoother */
    margin-left: 20px;
}
.nav-connect:hover {
    transform: scale(1.05);     /* == This property increases the size of the button when hovered */
}

/* ------------------------ ANCHOR LINK ------------------------ */
.anchor-link{
    text-decoration: none;
    color: white;
}

/* ------------------------ RESPONSIVENESS ------------------------ */
.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

@media(max-width: 768px){
    .navbar {
        margin: 20px 50px;
    }
    .nav-connect {
        display: none;
    }
    .nav-mob-open {
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-mob-close {
        display: block;
        position: relative;
        top: 30px;
        left: 240px;
        width: 30px;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        background-color: #32323a;
        width: 300px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }
    .nav-menu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}
  