.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 20px 50px;
}

/* ------------------------ LOGO ------------------------ */
.nav-logo {
    height: 50px;   
    margin-right: 20px;
}

/* ------------------------ MENU ------------------------ */
.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}
.nav-menu li{
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.nav-menu li img{
  display: flex;
  margin: auto;
}
  
/* ------------------------ CONNECT ------------------------ */
.nav-connect {
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #e6dc50 0.36%, #1044d4 102.06%);
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;           /* == This property makes the transition smoother */
    margin-left: 20px;
}
.nav-connect:hover {
    transform: scale(1.05);     /* == This property increases the size of the button when hovered */
}

.anchor-link{
    text-decoration: none;
    color: white;
}
  